---
import type { CollectionEntry } from 'astro:content';
import { Image } from "astro:assets";
import { URLify } from '../scripts/urlify.js';

export interface Props {
	game: CollectionEntry<'awesomeSoftwareEngineeringGames'>;
}

const { game } = Astro.props;

let genres = [];
if (game.data.german_content.genres) {
	genres = game.data.german_content.genres.map((element) => URLify(element));
}

// Generate id based on the name
const nameId = URLify(game.data.name);
---

<section
	id={nameId.url}
	class="game py-8 md:py-12 bg-white overflow-hidden"
	style="background-image: url('/images/elements/pattern-white.svg'); background-position: center;"
>
	<div class="container px-4 mx-auto">
		<div class="flex flex-wrap lg:items-center -mx-4">
			<div class="w-full md:w-8/12 px-4 mb-16 md:mb-0">
				{
					genres.map((element) => (
						<a class="inline-block py-px mr-2 px-2 mb-4 text-xs leading-5 text-yellow-500 bg-yellow-100 font-medium uppercase rounded-full shadow-sm" href={`/spiele-fuer-softwareentwickler/${element.url}-spiele/`}>
							{element.name}
						</a>
					))
				}

				<h2 class="mb-8 text-4xl md:text-5xl leading-tight text-coolGray-900 font-bold tracking-tight">
					<a href={game.data.website} class="hover:underline hover:text-yellow-500" title={`Website von ${game.data.name}`}>
						{game.data.name}
					</a>
				</h2>
				<p class="mb-6 text-lg md:text-xl text-coolGray-500 font-medium">
					{game.data.german_content.short_description}
				</p>
				<ul class="mb-4 text-lg md:text-xl text-coolGray-500 font-medium">
					{
						game.data.programmable && (
							<li class="pb-4">Programmierbar? Ja 🤖</li>
						)
					}
					<li class="space-x-2">Verfügbar auf:
						{game.data.platforms.windows &&
						(<img class="h-7 inline" src="/images/brands/windows.svg" alt={`${game.data.name} auf Windows`} title={`${game.data.name} auf Windows`} />)}
						{game.data.platforms.mac && (<img class="h-7 inline" src="/images/brands/apple-os.svg" alt={`${game.data.name} auf Mac`} title={`${game.data.name} auf Mac`} />)}
						{game.data.platforms.linux && (<img class="h-7 inline" src="/images/brands/linux.svg" alt={`${game.data.name} auf Linux`} title={`${game.data.name} auf Linux`} />)}
					</li>
				</ul>
				
				<div class="flex flex-wrap">
					{
						game.data.steamID > 0 && (
							<div class="mb-4 mt-4 mr-4">
								<a class="flex items-center" href={`https://store.steampowered.com/app/${game.data.steamID}`} title={`${game.data.name} auf Steam`}>
									<img class="w-8" src="/images/brands/steam.svg" alt={`${game.data.name} auf Steam`} title={`${game.data.name} auf Steam`} />
									<span class="text-coolGray-500 text-lg m-2">Steam</span>
								</a>
							</div>
						)
					}
					{
						game.data.website && (
							<div class="mb-4 mt-4 mr-4">
								<a class="flex items-center" href={game.data.website} title={`Website von ${game.data.name}`}>
									<img class="w-8" src="/images/elements/icon-website-2.svg" alt={`Website von ${game.data.name}`} title={`Website von ${game.data.name}`} />
									<span class="text-coolGray-500 text-lg m-2">Website</span>
								</a>
							</div>
						)
					}
					{
						game.data.repository && (
							<div class="mb-4 mt-4 mr-4">
								<a class="flex items-center" href={game.data.repository} title={`${game.data.name} auf GitHub`}>
									<img class="w-8" src="/images/brands/github-octocat.svg" alt={`${game.data.name} auf GitHub`} title={`${game.data.name} auf GitHub`} />
									<span class="text-coolGray-500 text-lg m-2">GitHub</span>
								</a>
							</div>
						)
					}
				</div>
			</div>
			<div class="w-full md:w-4/12 px-4">
				<div class="relative mx-auto md:mr-0 max-w-max">
					<a href={game.data.website} title={`Website von ${game.data.name}`}>
						<Image class="rounded-2xl" src={game.data.image} alt={`Spiel ${game.data.name}`} title={`Spiel ${game.data.name}`} />
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
