---
import Footer from '../../components/Footer.astro';
import MainHead from '../../components/MainHead.astro';
import Nav from '../../components/Nav.astro';
import SoftwareEngineeringGamePreview from '../../components/SoftwareEngineeringGamePreview.astro';
import { URLify } from '../../scripts/urlify.js';
import { getCollection } from "astro:content";

// TODO Genres for games
import awesomeSoftwareEngineeringGameGenres from '../../data/awesome-software-engineering-games-genres.json';

export async function getStaticPaths() {
	// Get genres from the "awesome-software-engineering-games" collection
	const awesomeSoftwareEngineeringGames = await getCollection("awesome-software-engineering-games");
	const allGameGenresUniqueInclNull = [...new Set(awesomeSoftwareEngineeringGames.flatMap((p) => p.data.german_content.genres))];
	const allGameGenresUnique = allGameGenresUniqueInclNull.filter(function (genre) {
		return genre != null;
	});

	// We URLify the genre here to get dynamic url friendly names
	return allGameGenresUnique.map((genre) => {
		// We generate two elements here:
		// Once the original genre name like "Early Access"
		// and one url friendly genre name like "early-access"
		let t = URLify(genre);
		let genreUrlName = t.url;
		let genreName = t.name;

		return {
			params: { genre: genreUrlName },
			props: { genreName },
		};
	});
}

const genreHumanName = Astro.props.genreName;

let title = `Die besten ${genreHumanName} Spiele für Softwareentwickler:innen kuratiert im Engineering Kiosk`;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);

let customTitle = '';
let genreDescription_short = '';
let genreDescription_long = '';
if (awesomeSoftwareEngineeringGameGenres.hasOwnProperty(genreHumanName)) {
	genreDescription_short = awesomeSoftwareEngineeringGameGenres[genreHumanName]['short_desc'];
	genreDescription_long = awesomeSoftwareEngineeringGameGenres[genreHumanName]['long_desc'];
	customTitle = awesomeSoftwareEngineeringGameGenres[genreHumanName]['title'] || '';
}

// Filter awesome software engineering games by genre, sort by name
const awesomeSoftwareEngineeringGames = await getCollection("awesome-software-engineering-games");
let games = awesomeSoftwareEngineeringGames.filter(function (p) {
	if (p.data.german_content.genres == null) {
		return false;
	}
	return p.data.german_content.genres.includes(genreHumanName);
});

function orderByName(a, b) {
	if (a.data.name.toLowerCase() < b.data.name.toLowerCase()) {
		return -1;
	}

	if (a.data.name.toLowerCase() > b.data.name.toLowerCase()) {
		return 1;
	}

	return 0;
}
games = games.sort(orderByName);
---

<html lang="de">
	<head>
		<MainHead title={title} description={genreDescription_short} image="/images/headers/awesome-software-engineering-games-head.png" {canonicalURL} />
	</head>

	<body class="antialiased bg-body text-body font-body">
		<div>
			<Nav title={title} />

			<section class="py-8 md:py-12 lg:pb-12 bg-coolGray-50" style="background-image: url('/images/elements/pattern-light-big.svg'); background-repeat: no-repeat; background-position: center top;">
				<div class="container px-4 mx-auto">
					<div class="flex flex-wrap items-center mb-12">
						<div class="w-full md:w-3/4 mb-8 md:mb-0">
							<span class="inline-block py-px px-2 mb-4 text-xs leading-5 text-yellow-500 bg-yellow-100 font-medium uppercase rounded-full shadow-sm">Kuratierte Spiele für Softwareentwickler:innen</span>
							<h1 class="mb-4 text-4xl md:text-5xl leading-tight text-darkCoolGray-900 font-bold tracking-tight">
								{customTitle || `Die besten ${genreHumanName}-Spiele für Softwareentwickler:innen`}
							</h1>
							{genreDescription_long && <p class="text-lg md:text-xl text-coolGray-500 font-medium">{genreDescription_long}</p>}
						</div>
						<div class="w-full md:w-1/4">
							<a class="flex items-center justify-center py-2 px-4 ml-auto text-sm leading-5 text-yellow-50 font-medium bg-yellow-500 hover:bg-yellow-600 focus:ring-2 focus:ring-yellow-500 focus:ring-opacity-50 md:max-w-max rounded-md" href="https://github.com/EngineeringKiosk/awesome-software-engineering-games">
								Die Spiele Liste auf GitHub <img class="ml-2 w-8" src="/images/brands/github-black.svg" alt="awesome-software-engineering-games auf GitHub" title="awesome-software-engineering-games auf GitHub" />
							</a>
						</div>
					</div>
				</div>
			</section>

			{games.map((game) => <SoftwareEngineeringGamePreview game={game} />)}

			<Footer />
		</div>
	</body>
</html>
