---
import { Image } from "astro:assets";

export interface Props {
	avatar: string;
	name: string;
	subtitle: string;
	description: string;
	github?: string;
	twitter?: string;
	linkedin?: string;
	bluesky?: string;
	mastodon?: string;
	threads?: string;
	instagram?: string;
	youtube?: string;
	website?: string;
}

const { avatar, name, subtitle, description, github, twitter, linkedin, bluesky, mastodon, threads, instagram, youtube, website } = Astro.props;
const imageAvatar = (await import(`../../images/teams/${avatar}.jpg`)).default
---

<div class="w-full sm:w-1/2 md:w-1/3 px-4 mb-10 hostpreview">
	<div class="h-full py-8 px-10 bg-white rounded-md text-center">
		<Image class="w-44 mx-auto mb-6 rounded-full" src={imageAvatar} alt={name} title={name} />

		<h2 class="mb-2 text-2xl md:text-3xl leading-tight font-semibold">
			{name}
		</h2>

		<span class="inline-block mb-6 text-lg font-medium text-yellow-500">
			{subtitle && subtitle}
		</span>
		<p class="mb-8 text-coolGray-500 font-medium description" set:html={description} />
		<div class="flex items-center justify-center">
			{
				github && (
					<a class="inline-block mr-6 hover:opacity-80" href={`https://github.com/${github}`}>
						<img src="/images/brands/github-gray.svg" alt={`${name} auf GitHub`} />
					</a>
				)
			}
			{
				twitter && (
					<a class="inline-block mr-6 hover:opacity-80" href={`https://twitter.com/${twitter}`}>
						<img src="/images/brands/twitter.svg" alt={`${name} auf twitter`} />
					</a>
				)
			}
			{
				bluesky && (
					<a class="inline-block mr-6 hover:opacity-80" href={bluesky}>
						<img src="/images/brands/bluesky.svg" alt={`${name} auf Bluesky`} class="h-5 grayscale opacity-60" />
					</a>
				)
			}
			{
				mastodon && (
					<a class="inline-block mr-6 hover:opacity-80" href={mastodon}>
						<img src="/images/brands/mastodon.svg" alt={`${name} auf Mastodon`} class="h-5 grayscale opacity-60" />
					</a>
				)
			}
			{
				threads && (
					<a class="inline-block mr-6 hover:opacity-80" href={threads}>
						<img src="/images/brands/threads.svg" alt={`${name} auf Threads`} class="h-5 grayscale opacity-60" />
					</a>
				)
			}
			{
				instagram && (
					<a class="inline-block mr-6 hover:opacity-80" href={instagram}>
						<img src="/images/brands/instagram.svg" alt={`${name} auf Instagram`} class="h-5 grayscale opacity-60" />
					</a>
				)
			}
			{
				linkedin && (
					<a class="inline-block mr-6 hover:opacity-80" href={`https://linkedin.com/in/${linkedin}`}>
						<img src="/images/brands/linkedin.svg" alt={`${name} auf LinkedIn`} />
					</a>
				)
			}
			{
				youtube && (
					<a class="inline-block mr-6 hover:opacity-80" href={youtube}>
						<img src="/images/brands/youtube.svg" alt={`${name} auf YouTube`} class="h-5 grayscale opacity-60" />
					</a>
				)
			}
			{
				website && (
					<a class="inline-block hover:opacity-80" href={website}>
						<img src="/images/elements/icon-website.svg" height="33" width="33" alt={`Website von ${name}`} />
					</a>
				)
			}
		</div>
	</div>
</div>
